<tr id="row-post-<%= post.id %>">
  <td><%= post.title %></td>
  <td><%= post.content %></td>
  <td><%= link_to 'Show', post, class:"btn btn-success btn-sm", remote: true %></td>
  <td><%= link_to 'Edit', edit_post_path(post), class:"btn btn-primary btn-sm", remote: true %></td>
  <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?', remote: true }, class: "delete btn btn-danger btn-sm" %></td>
</tr>
